$color-primary: #333;
$background-primary: #FFF;

$wrapper-bg-color: #F8F7F5;

$label-color: #576666;
$border-color: #BDBEBF;
$outline-color: #5CBE85;

$item-padding: 20px;
$item-height: 60px;
$initials-bg-color: #7FD0C9;
$secondary-grey: #909A99;

$warning-text-color: #0C5460;
$warning-border-color: #BEE5EB;
$warning-bg-color: #D1ECF1;
