@import '../../styles/variables';

.container {
  margin-top: $item-padding;
  padding: 0 $item-padding;
  max-height: $item-height * 2 + $item-padding * 4;
  overflow-y: scroll;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid $border-color;
  background-color: $background-primary;
}

.suggestionsList {
  list-style: none;
}

.suggestionsList__item {
  display: flex;
  flex-direction: row;
  padding: $item-padding;
  border-bottom: 1px solid $border-color;

  &:hover {
    cursor: pointer;
    background-color: lighten($border-color, 20);
  }
}

.suggestionsList__item__active {
  background-color: lighten($border-color, 20);
}

.suggestionsList__initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $item-height;
  height: $item-height;
  color: $background-primary;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: $initials-bg-color;
}

.suggestionsList__profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: $item-padding;
}

.suggestionsList__heading {
  font-size: 1.2rem;
  font-weight: 400;
}

.suggestionsList__email {
  color: $secondary-grey;
}
