@import '../../styles/variables';

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: $label-color;
}

.input {
  outline: none;
  padding: 12px 16px;
  width: 100%;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid $border-color;

  &:focus {
    border: 2px solid $outline-color;
  }
}
